<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Page</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/show.css" type="text/css" />
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="edit icon"></i>todo Site</div>
            <a href="/" class="item">Home</a>

            <div class="right menu">
                <% if(!currentUser){ %>
                    <div class="item">
                        <a href="/login" class="ui green basic button">Login</a>
                    </div>
                    <div class="item">
                        <a href="/register" class="ui primary button">Sign Up</a>
                    </div>
                    <% }else{ %>
                        <div class="item">
                            <button class="ui labeled icon inverted yellow button">
                            <i class="user circle outline icon"></i>
                            <%= currentUser.username %>
                            </button>
                        </div>
                        <div class="item">
                            <a href="/logout" class="ui inverted red button">Logout</a>
                        </div>
                        <% } %>
            </div>
        </div>
    </div>
    <div class="ui main text container segment">
        <div class="ui centered huge header">
            <%= foundTodo.title %>

        </div>
        <div class="ui top attached ">
            <div class="item">
                <div class="content">
                    <h4>
                        <%= new Date(foundTodo.date).toDateString() %>
                            <%= foundTodo.time %>
                    </h4>
                </div>

                <div class="ui horizontal divider">
                    Body
                </div>

                <div class="description">
                    <p>
                        <%= foundTodo.body %>
                    </p>
                </div>
                <div>

                    <a href="<%= foundTodo.image %>" download>Click here to download your files</a>
                </div>
                <a id="lef-bt" class="ui inverted orange button" href="/todos/<%= foundTodo._id %>/edit">Edit</a>

                <form id="delete" action="/todos/<%= foundTodo._id %>?_method=DELETE" method="POST">
                    <button id="rig-bt" class="ui inverted red button">Delete</button>
                </form>

            </div>
        </div>
        <% if( msg.length > 0){  %>
            <div class="ui  negative message" style="margin-top: 8em;">
                <div class="header">
                    <%= msg %>
                </div>
            </div>
            <%  }%>
    </div>

</body>

</html>